* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.button{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.simple{
    border: 3px solid purple;
    border-radius: 8px;
    padding: 8px;
    margin:24px
    
}
.background{
    background-color: blue;
    color: azure;
    padding: 24px;
    border-radius: 36px;
    font-size: 28px;
    font-weight:bold;
    margin:24px;
}