* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column{
    width:50%;
    max-width: 700px;
    background-color: plum;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;;
}
.single-column img{
    width: 100%;
}

