* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.button{
    text-decoration: none;
    color: red;
    display: inline-block;
    border-radius: 8px;
    padding: 8px;
    margin: 24px;
    background-color: lightblue;

}
.simple {
    border: 3px solid white;
    border-radius: 8px;
    padding: 8px;
    margin: 24px;
    background-color: lightblue;
}