@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Oswald", sans-serif;
}
.single-column{
    max-width: 300px;
    margin-left:auto;
    margin-right: auto;

   
}
.light-container{
    background-color: rgb(202, 23, 23);
    padding: 48px 24px;
    color: azure;
    
}
.dark-container{
    background-color: rgb(36, 216, 51);
    padding: 48px 24px;
    color: black;
}
.yellow{
    background-color: rgb(200, 177, 26);
    padding: 48px 24px;
}
.mm{
    width:100%;
}
.lightpink{
    background-color: hotpink;
    padding: 48px 24px;
}
.button{
    text-decoration: none;
    color: red;
    display: inline-block;
    border-radius: 40px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(243, 246, 247);
    
}

.aqua{
    background-color: aqua;
    padding: 48px 24px;

}
#section-1{
    text-align: center;
}
.single-column{
    text-align: center;
}